.card-banner { 
	display: flex;
	align-items: right;
	justify-content: space-between;
	padding: 20px;
}

.card-banner img { 
	width: 350px;
}

.card-banner h1 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 80px;
  color: #044723;
}




