.greenbox {
background-color: white;
width: 300px;
height: 280px;
border-color: #044723;
margin-left: 800px;
border-width: 2px;
border-style: solid;
text-align: right;
margin-top: 60px;
padding-top: 40px;
}

.greenbox h3,h6,h1, h5 {
	align-items: center;
	text-align: center;
}

.greenbox h1 {
	background-color:#044723;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	color: white;
	font-weight: normal;
	border-radius: 6px;
	text-align: center;
	width: 230px;
	height: 20px;
}

.greenbox h5 {
	background-color:#C5D9C0;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	border-radius: 6px;
	width: 230px;
	height: 20px;
	margin-left: 40px;
	font-size: 15px;
}

.greenbox h3 {
margin-right: 40px;
margin-bottom: 10px;
}

.greenbox h6 {

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  margin: 0px;
  color: lightgrey;
  font-weight: normal;
  margin-bottom: 20px;
}

.greenbox h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: center;
  color: #044723;
  font-weight: normal;
  margin-top: 10px;
}