.card-green {
	background-color: #C5D9C0;
	border-color: #044723;
	padding: 10px;
	padding-top: -10px;
	border-radius: 2px;
	margin: 0px;
	text-align: left;
	border-width: 60px;

}

.card-green {
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}

.cards {
   display: flex;
  justify-content: space-between;
}


.card-green img {
	width: 100%;
	position: center;
  width: 200px;
  height: 100px;
}

.card-green h1 {
	font-size: 10;
	text-align: right;
}

.card-green h2 {
	font-size: 8;
}

.card-green h3 {
  font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
}

.card-green h4 {
  font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: black;
}


