.box-white {
	padding: 20 px;
	align-items: center;
	border-radius: 6px;
	width: 350px;
	height: 290px;
	margin: 20px 40px;
	border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
	margin-bottom: : 800px;
	margin-left: 900px;
}

.box-white  img {
		border-radius: 6px;
		width: 75px;
		height: 50px;
		border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}
.box-white  h4,h5,h6 {
	
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .box-white {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .box-white {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .box-white {
    width: 300px;
  }

