.cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: 90px;
}

.card-green-us{
	background-color: #C5D9C0;
	border-color: #044723;
	padding: 20px;
	padding-top: 5px;
	border-radius: 2px;
	margin: 20px;
	text-align: center;
	border-width: 60px;
	flex-basis: 550px;
	text-align: justify;
}
.card-green-us img{
	width: 140px;
	height: 140px;
	border-radius: 35%;
	margin-left: 200px; 
	position: left;
}

.card-green-us h3{
	font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-align: center;
}

.card-green-us a {
	color: black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .cardwhite1 {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .cardwhite1 {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .cardwhite1 {
    width: 300px;
  }