.socialnetworks {
	background-color: #C5D9C0;
	padding: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;
	margin-right: 915px;
  width: 250px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .socialnetworks {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .socialnetworks {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .socialnetworks {
    width: 300px;
  }
