@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap);


@import url("components/container.css");
@import url("components/banner-menu.css");
@import url("components/box-black.css");
@import url("components/box-green.css");
@import url("components/box-white.css");
@import url("components/box-platinum.css");
@import url("components/box-pullblack.css");
@import url("components/box-jean.css");
@import url("components/cardup.css");
@import url("components/card-green-homepage.css");
@import url("components/list-inline.css");
@import url("components/search-field.css");
@import url("components/box-title.css");
@import url("components/alignement.css");


h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0px;
}

a { 
	text-decoration: none;

}

.card {
	display:flex;
	align-items:left;
	justify-content: space-between;
	padding:20px;
}

.card img {
	width: 150px;

}

.bordure {
	border-bottom: 3px solid black;
	width: 770px;
}


.list-clothes {
	list-style: none;
    margin-right: 250px;
}
.Price-number {
   margin-right: 20px;
   color: #044723;
   font-family: 'Fjalla One', sans-serif;
   font-size: 30px; 
}

.Price {
	margin-left: 700px;
	color: #044723;
}

.Sub-total{
	margin-left: 550px;
}

.fas.fa-shopping-cart{
	color: black;
	
}

.list-byline {
  list-style: none;
  margin: 2px;
  line-height: 1px;
}