@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap);

@import url("components/container.css");
@import url("components/card-white.css");
@import url("components/card-banner.css");
@import url("components/box-green.css");
@import url("components/banner-menu.css");
@import url("components/card-green-homepage.css");
@import url("components/list-inline.css");
@import url("components/search-field.css");
@import url("components/socialnetworks.css");

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0px;
}

a { 
	text-decoration: none;
}

.bordure {
border-bottom:3px solid black;
}


.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
padding: 10px;
}



.price {
margin-left: 200px;
}

.far.fa-heart {
color:#044723;
margin-left: 10px;
}

#title {
font-size: 40px;
margin-left: 600px;
}

