@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&display=swap);

@import url(components-register-page/logincard.css);
@import url(components-register-page/socialnetworks.css);
@import url(components-register-page/banner-menu.css);
@import url(components-register-page/cardtoalign.css);
@import url(components-register-page/buttonlogin.css);



h4 {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	color: #044723;
	font-size: 20px;
}

h1{
	font-family : 'Fjalla One', sans-serif;
	color: black;
	font-size: 26px;
	margin-left: 35px;
	text-align: justify;
	margin-right: 80px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #044723;
	font-size:  15px;
	margin-left: 35px;
}
h5,h2 {
	color: #8AB591;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h6 {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-size: 13px;
	text-align: center;
}

.under {
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-size: 13px;
	text-align: center;
}

.bor
