.btn-green {
	background-color: #044723;
	padding: 10px 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-green:hover {
	background-color:#51776c ;
	color: black 
	margin-bottom: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .btn-green  {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .btn-green  {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .btn-green  {
    width: 300px;
  }

.btn-white {
	background-color: #044723;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

.btn-white:hover {
	background-color:#51776c ;
	color: black 
	margin-bottom: 10px;
}
	
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .btn-white  {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .btn-white  {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .btn-white  {
    width: 300px;
  }
