.homepage-right {
	padding: 10px;

}

.homepage-right p {
	text-align: justify;
	margin-right: 250px;
	margin-top: 50px;
}

.homepage-right img {
	height: 300px;
	vertical-align: middle;
	float: right;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .homepage-right {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .homepage-right {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .homepage-right {
    width: 300px;
  }
