.box-green {
	background-color: #C5D9C0;
	text-align: center;
	padding: 20px;
	padding-top: -10px;
	border-radius: 2px;
	width: 310px;
	height: 150px;
	margin: 10px;
	border-width: 60px;
	z-index: 1;
	margin-bottom: : 900px;
	margin-left: 900px;
	border-color: black;
		border-width: 2px;
		border-style: solid;
}

